/****** Couleurs ***********/
:root {
	--color-one: #0065fc;
	--color-two: #deebff;
	--color-three: #d9d9d9;
	--color-four: #f2f2f2;
	--color-five: #000000;
	--color-six: #ffffff;
}

/****** Reset des valeurs et base ***********/
* {
	font-family: "Raleway", sans-serif;
}

ol,
ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/****** General ***********/
body {
	display: flex;
	justify-content: center;
}

.base-container {
	width: 100%;
	max-width: 1440px;
	box-sizing: border-box;
}

/****** Header ***********/
header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.box-logo {
	display: flex;
	padding: 1.875rem 3.125rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.625rem;
}

.logo {
	width: 3.8rem;
	height: 1.2rem;
}

.menu {
	display: flex;
	width: 20.53756rem;
	padding: 0rem 1.5625rem;
	flex-direction: column;
	align-items: center;
	gap: 4.25rem;
}

.menu ol {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 4.25rem;
}

.menu li {
	width: 100%;
	height: auto;
}

.menu a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: var(--color-five);
}

.menu a:hover {
	color: var(--color-one);
}

.menu > ol > li:hover {
	border-top: 2px solid var(--color-one);
}

/****** Main ***********/
main {
	display: flex;
	padding: 0rem 3.125rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.1875rem;
	align-self: stretch;
}

h2,
h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: var(--color-five);
	margin: 0 0 8px 0;
	letter-spacing: 0em;
	text-align: left;
}

h4,
h5 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-five);
	margin: 0 0 20px 0;
}

/****** Info ***********/
.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.1875rem;
	align-self: stretch;
}
