/****** Couleurs ***********/
:root {
	--color-one: #0065fc;
	--color-two: #deebff;
	--color-three: #d9d9d9;
	--color-four: #f2f2f2;
	--color-five: #000000;
	--color-six: #ffffff;
}

/****** Reset des valeurs et base ***********/
* {
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/****** General ***********/
body {
	margin: auto;
	max-width: 1400px;
	padding: 0 3.13rem;
	background: var(--color-six);
	font-family: "Raleway", sans-serif;
}

/****** Header ***********/
header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin: 0;
}

.logo {
	padding: 0;
	width: 3.8rem;
}

.menu {
	display: flex;
	width: 20.5rem;
	margin: 0;
}

.menu ol {
	width: 100%;
	height: 3.2rem;
	display: flex;
	flex-direction: row;
	margin-top: 0;
}

.menu li {
	width: 100%;
	height: 2.5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	border-top: transparent 3px solid;
}

.menu a {
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	color: var(--color-five);
	padding-top: 1.2rem;
}

.menu a:hover {
	color: var(--color-one);
	border-top: 2px solid var(--color-one);
}

/****** Main ***********/

h1,
h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.6rem;
	color: var(--color-five);
	margin: 0 0 0.5rem 0;
	letter-spacing: 0em;
	text-align: left;
}

h3 {
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: var(--color-five);
}

h4 {
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: var(--color-five);
}

/****** Info ***********/
.information {
	width: 100%;
	padding-top: 1.8rem;
}

.information p {
	font-weight: 400;
	font-size: 1rem;
	line-height: 0.5rem;
}

/**Search**/
.search-bar {
	padding-top: 2rem;
}

button .fa-magnifying-glass {
	display: none;
}

.content-search {
	display: flex;
	align-items: center;
}

.content-search i {
	background: var(--color-four);
	padding: 0.6rem 0.8rem;
	border-radius: 1rem 0 0 1rem;
	width: 3.125rem;
	height: 3.0625rem;
	flex-shrink: 0;
}

.fa-location-dot {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-search input {
	border: 1px solid var(--color-four);
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 0 0.5rem 0.5rem;
	margin-left: -0.3rem;
	outline: none;
	width: 23.5625rem;
	height: 3.0625rem;
	text-align: center;
}

.button-search {
	border-radius: 0 0.875rem 0.875rem 0;
	background-color: var(--color-one);
	border: none;
	color: var(--color-six);
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	cursor: pointer;
	height: 3.0625rem;
}

/**Filter**/
.filter {
	display: flex;
	padding-top: 2.2rem;
	align-items: center;
}

.filter h2 {
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}

.filter li a {
	text-decoration: none;
	display: flex;
	flex-wrap: nowrap;
	color: var(--color-five);
}

.filters {
	display: flex;
	padding: 0;
}

.btn-filter {
	height: 3.1rem;
	padding-left: 0.6rem;
	padding-right: 1.25rem;
	border: 2px solid var(--color-four);
	border-radius: 1.5rem;
	flex-wrap: nowrap;
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 1rem;
	margin-left: 0.9rem;
	cursor: pointer;
}

.btn-filter .fa-solid {
	font-size: 1.4rem;
	color: var(--color-one);
	margin-right: 0.6rem;
}

.btn-filter:hover {
	background-color: var(--color-two);
}

/**Tips sur les logements**/
.tips-logement {
	display: flex;
	align-items: center;
	padding-top: 1.5rem;
}

.tips-logement i {
	border: 1px solid var(--color-three);
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-one);
}

.logement {
	margin-left: 0.7rem;
	font-size: 1rem;
	color: var(--color-five);
}

/****** Hébergement et Populaire ***********/
.hebergements-and-populaires {
	display: flex;
	gap: 2.5rem;
	margin-top: 2.1rem;
}

.hebergements-and-populaires h4 {
	margin: 1.8rem 0 0 0;
}
/**Hébergement**/
.hebergements {
	width: 70%;
	padding: 1.8rem;
	height: auto;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	background-color: var(--color-four);
	border-radius: 1rem;
}

.hbgs-cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.hbg-card img {
	box-sizing: border-box;
	object-fit: cover;
	height: 7.6rem;
	width: 100%;
	border: 0.3rem solid var(--color-six);
	border-radius: 1.25rem 1.25rem 0 0;
}

.hbg-card {
	width: 15.6rem;
	height: 13rem;
	text-decoration: none;
	border-radius: 1.25rem;
	margin: 1.8rem 0 0 0;
	background: var(--color-six);
	box-shadow: 0 0.1rem 0.9rem rgba(0, 0, 0, 0.1);
}

.hbg-card h3,
.hbg-card p {
	margin: 0 0 0 0.9rem;
	padding-top: 0.3rem;
}

.hbg-card p {
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: var(--color-five);
}

/**Populaire**/
.populaires {
	width: 34%;
	background-color: var(--color-four);
	padding: 1.8rem;
	border-radius: 0.9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.875rem;
	align-self: stretch;
}

.populaires-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3.17656rem;
	align-self: stretch;
}

.populaires-cards {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.875rem;
	align-self: stretch;
}

.populaires-cards .card {
	display: flex;
	height: 9rem;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	border-radius: 1.25rem;
	background: #fff;
}

.populaires-cards img {
	width: 7.6875rem;
	height: 9rem;
	border-radius: 1.25rem 0rem 0rem 1.25rem;
	border: 5px solid var(--White, #fff);
}

.populaires-cards .card-content {
	display: flex;
	width: 15.375rem;
	height: 8.375rem;
	padding: 0.625rem 0.3125rem 0.3125rem 0.9375rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
}

.populaires-cards .card-title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
	margin: 0;
}

.populaires-cards .card-rating {
	margin-bottom: 5px;
}
